<!-- extend from base layout -->
{% extends "base.html" %}

{% block content %}
<h1>登陆</h1>
<form action="" method="post" name="login">
    {{form.hidden_tag()}}
    <p>
        用户名:<br>
        {{form.username(size=80)}}<br>
        {% for error in form.username.errors %}
            <span style="color: red;">[{{ error }}]</span>
          {% endfor %}<br>
        密码:<br>
        {{form.password(size = 80)}}<br>
        {% for error in form.password.errors %}
            <span style = "color: red;">[{{ error }}]</span>
        {% endfor %}<br>
        验证码:<br>
        {{form.recaptcha(size=80)}}<br>
        {% for error in form.recaptcha.errors %}
            <span style="color: red;">[{{ error }}]</span>
          {% endfor %}<br>
        <div class="col-sm-3">
               <img id='recaptcha' src="{{url_for('generate_code')}}"/>
        </div>
    </p>
    <p>{{form.remember_me}} 记住我</p>
    <p><input type="submit" value="登陆"></p>
</form>
{% endblock %}